body{
    background:#87CEEB;
    color:#FFFFFF;
    width:100%
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#417aa8;
    color:#fff;
}

.jarak{
    padding:0 2pc;
}

